@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@theme {
  --color-purplePrimary: #f0eef9;
  --color-purpleLight: #e3dff5;
  --color-purpleDark: #624295;
  --color-purpleMedium: #7e57c2;
  --color-purpleOutro: #b3a3e2;
  --font-nunito: "Nunito", sans-serif;
}

body {
  @apply font-nunito;
}
